body{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
	color: #636363;
	padding: 0 20px 0;
	max-width: 1024px;
}
hr{
	color: #ccc;
	margin: 10px 0 20px;
}
h1, h3{
	font-family: "Arial Regular", sans-serif;
	font-weight: bold;
}
h1{
	font-size: 32px;
	color: #1e4056;
	margin-bottom: 40px;
}
h3{
	font-size: 24px;
}
header{
	margin-bottom: 20px;
}
header img{
	margin-top: 10px;
	width: 175px;
}
nav{
	margin-bottom: 20px;
}
ul{
	padding-left: 20px;
}
table{
	width: 100%;
}
th{
	background-color: #33b3ca;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	text-align: left;
}
td{
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 5px 10px;
}
th:first-of-type,
td:first-of-type{
	width: 25%;
	font-weight: bold;
}
#versiontest{
	color: #27B34F;
}
a{
	color: #33b3ca;
	text-decoration: none;
}
.button{
	background-color: #33b3ca;
	border-radius: 15px;
	color: #ffffff;
	margin: 0 20px 20px 0;
	padding: 5px 15px;
	cursor: pointer;
}
.download{
	background-image: url("download.png");
	padding: 1em 1em .5em 70px;
	margin-bottom: 1.5em;
	min-height: 68px;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	color: #000;
	overflow: hidden;
	box-sizing: border-box;
	background-color: #d6efc2;
	border-radius: 1.4em;
}
.colLeft, .colRight{
	float: left;
}
.colLeft{
	width: 60%;
}
.colRight{
	width: 40%;
	text-align: center;
}
.anchor{
	float: right;
}
