# ISSI 2Gbit Quad SPI NAND
# Model: IS38SMW02G8B-JHLA2
# Label: U65
flash nand-256M-128k {
	pebsize = 128K
	lebsize = 126976
	numpebs = 2048
	minimum-io-unit-size = 2048
	vid-header-offset = 2048
	sub-page-size = 2048
}

image rootfs.erofs {
	erofs {}
	mountpoint = "/"
}

image overlay.ubifs {
	ubifs {
		space-fixup = true
	}
	flashtype = "nand-256M-128k"
	size = 32M
	empty = true
}

image data.ubifs {
	ubifs {
		space-fixup = true
	}
	flashtype = "nand-256M-128k"
	size = 4M
	empty = true
}

image rootfs.ubi {
	ubi {}
	flashtype = "nand-256M-128k"

	partition rootfs {
		image = "rootfs.erofs"
		size = 64M
		read-only = true
	}

	partition overlay {
		image = "overlay.ubifs"
		size = 32M
	}

	partition data {
		image = "data.ubifs"
		autoresize = true
	}
}

image flash.img {
	flash {}
	flashtype = "nand-256M-128k"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 1M
	}

	partition ubi {
		image = "rootfs.ubi"
	}
}
