# Winbond 8Gbit Quad SPI NAND
# Model: W25N08LWTBIG
# Label: U65
flash nand-1G-256k {
	pebsize = 256K
	lebsize = 253952
	numpebs = 4096
	minimum-io-unit-size = 4096
	vid-header-offset = 4096
	sub-page-size = 4096
}

image rootfs.erofs {
	erofs {}
	mountpoint = "/"
}

image overlay.ubifs {
	ubifs {
		space-fixup = true
	}
	flashtype = "nand-1G-256k"
	size = 32M
	empty = true
}

image data.ubifs {
	ubifs {
		space-fixup = true
	}
	flashtype = "nand-1G-256k"
	size = 4M
	empty = true
}

image rootfs.ubi {
	ubi {}
	flashtype = "nand-1G-256k"

	partition rootfs {
		image = "rootfs.erofs"
		size = 64M
		read-only = true
	}

	partition overlay {
		image = "overlay.ubifs"
		size = 32M
	}

	partition data {
		image = "data.ubifs"
		autoresize = true
	}
}

image flash.img {
	flash {}
	flashtype = "nand-1G-256k"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 1M
	}

	partition ubi {
		image = "rootfs.ubi"
	}
}
