# ISSI 16GB eMMC v5.1
# Model: IS22TF16G-JCLA2
# Datasheet: https://www.issi.com/WW/pdf/21-22TF16G-32G-64G-128G.pdf
# Label: U10
# Sector count: 30535680
image boot.ext4 {
	ext4 {
		label = "boot"
		use-mke2fs = true
	}

	srcpath = "${BINARIES_DIR}/boot"
	size = 64M
}

image emmc.img {
	hdimage {
		partition-table-type = "gpt"
	}

	// By default the boot ROM starts reading at GPT LBA-34
	partition u-boot-spl {
		in-partition-table = "no"
		image = "u-boot-spl.ldr"
		offset = 17K
	}

	partition u-boot {
		in-partition-table = "no"
		image = "u-boot.ldr"
		offset = 256K
	}

	partition boot {
		partition-type-uuid = L
		bootable = "true"
		image = "boot.ext4"
		offset = 256M
	}

	partition rootfs {
		partition-type-uuid = L
		image = "rootfs.ext4"
		size = 14590M
	}

	# TODO(KT): Workaround for https://github.com/analogdevicesinc/linux/issues/3400
	exec-post = 'gzip -f -k "$IMAGEOUTFILE"'
}

# ISSI 256Mb OctalRAM and 256 xSPI Flash
# Model: IS72WVO32M8AWO256-200HLA2
# Datasheet: https://www.issi.com/WW/pdf/71-72WVO16-32M8AWO-BLO256-512.pdf
# Label: U5

# ISSI Quad 2 Gigabyte SPI flash
# Model: IS25WP02GG-RHLE
# Datasheet: https://www.issi.com/WW/pdf/25LP-WP02GG.pdf
# Label: U6
flash nor-256M-256 {
	pebsize = 64K
	numpebs = 4K
	minimum-io-unit-size = 1
	vid-header-offset = 64
	sub-page-size = 1
}

image flash.img {
	flash {}
	flashtype = "nor-256M-256"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 768K
	}

	partition kernel {
		image = "kernel.itb"
		size = 32M
	}

	partition rootfs {
		image = "rootfs.erofs"
	}
}
