# ISSI Quad 2 Gigabyte SPI flash
# Model: IS72WVO32M8AWO256-200HLA2
# Datasheet: https://www.issi.com/WW/pdf/71-72WVO16-32M8AWO-BLO256-512.pdf
# Label: U65
flash nor-256M-256 {
	pebsize = 64K
	numpebs = 4K
	minimum-io-unit-size = 1
	vid-header-offset = 64
	sub-page-size = 1
}

image flash.img {
	flash {}
	flashtype = "nor-256M-256"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 768K
	}

	partition kernel {
		image = "kernel.itb"
		size = 32M
	}

	partition rootfs {
		image = "rootfs.erofs"
	}
}
