# Macronix Octal 128 Megabyte SPI flash
# Model: MX66LM1G45G
# Datasheet: https://www.mxic.com.tw/Lists/Datasheet/Attachments/8748/MX66LM1G45G,%203V,%201Gb,%20v1.1.pdf
# Label: U40
flash nor-128M-256 {
	pebsize = 64K
	numpebs = 2K
	minimum-io-unit-size = 1
	vid-header-offset = 64
	sub-page-size = 1
}

image flash.img {
	flash {}
	flashtype = "nor-128M-256"

	partition u-boot-spl {
		image = "u-boot-spl.ldr"
		size = 256K
	}

	partition u-boot {
		image = "u-boot.ldr"
		size = 768K
	}

	partition kernel {
		image = "kernel.itb"
		size = 32M
	}

	partition rootfs {
		image = "rootfs.ubi"
	}
}
